/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     background: #f0efef;
     font-family:open-sans,Helvetica, Arial, sans-serif;
}

@import url(<link rel="stylesheet" href="https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans">)


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

#container{
  width: 960px;
  margin: auto;
  text-align: center;
}

header {
  background: #033048;

}

.whiteTextLogo{
  font-size: 24px;
  font-weight: 800;
  color:white;
  text-align: left;
  padding-left: 80px;
  padding-top:10px;
  float:left;
}

nav{
  font-weight: 600;
  font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #033048;

}

.posts{
  float:left;
  display: block;
  width:700px;
}

aside{
  display:block;
  float: right;
  width:240px;
}

h4{
  color:#033048; 
  font-size:32px;
  font-weight: 800;
  text-align: left;
}

.sidebarList{
  font-size: 24px;
  font-weight: 300;
  background:#f0efef;
  text-align: left; 
}



.headerList {
    float: right;
}

li a {
    display: inline-block;
    color: #f9e42e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.firstSection{
  font-size: 24px;
  font-weight:300;
  text-align: left;
  float: left;

}


.secondSection{
  font-size: 24px;
  font-weight:300;
  text-align: left;
  float: left;
  border-top: solid;
  border-bottom: solid;
}


.readMore{
    text-align: right;


  }

h2{
  color:#033048;
  font-size: 40px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: #033048;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

.sidebarParagraph{
  text-align: left;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
}

.sidebarParagraph a{
  text-align: left;
}

p:first-letter{
  color: #121212;
  font-size: 75px;
  line-height: 60px;
  padding-top:4px;
  padding-right:8px;
  padding-left: 3px;
  font:open+sans; 
}

footer {
  background: #121212;
  clear: both;
  /*margin-top: 70px;*/
}

.yellowBackground{
  background: #f9e42e;
  height: 50px;
  padding: 10px;

}

.signUp{
  text-align: center;
  padding: 5px;
  background-color: #033048;
  color: white;
  text-decoration: none;
  width: 40px;
  display: inline;
}
/*I tried to use the pseudo class but it wouldn't work
and it was really late to ask*/
.signUp:hover:after{
  background: #66ff66;

}



.twitter{
  margin-right: 10px;
}

.fb{
  margin-left: 10px;
}


.yellowTextLogo{
  font-weight: 800;
  font-size: 24px; 
  color: #f9e42e;
  padding: 10px;
}

.copyright{
  font-weight: 600;
  font-size: 9px;
  color:white;
  padding: 15px;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




